body {
    /* background-color: white;
    background-image: url(gambar/tree.png);
    background-repeat: no-repeat;
    background-position: bottom center; */
    background: skyblue url(gambar/tree.png) no-repeat top center ;
}